/******** General *******/
form.bp {
  @include blueprint-form; }

label{display:block;}

.left_float_item{
  float: left;
  margin-right:10px;    
}
.check_box{
  clear: both;  
  margin-top:10px;
  input{ @extend .left_float_item}
}

fieldset{
  border: 1px solid $dark-border;
  padding: 10px;
  
  form{ @extend .left_float_item}
}

legend{
  padding: 0 10px;  
}

textarea{
  height:100px;
  width:500px;  
}

/******** Association fields *******/
.add_field{
  clear:both;
}
/******** Student *******/
.phone_number {
  clear: both;
  float:left;
  * { @extend .left_float_item }
}

