// Only apply the blueprint form styles to forms with
// a class of "bp". This makes it easier to style
// forms from scratch if you need to.

form.bp {
  @include blueprint-form; }

label{display:block;}

.left_float_item{
  float: left;
  margin-right:10px;    
}
.check_box{
  clear: both;  
  margin-top:10px;
  input{ @extend .left_float_item}
}

.phone_number {
  clear: both;
  float:left;
  * { @extend .left_float_item }
}

fieldset{
  border: 1px solid $dark-border;
  padding: 10px;
}

legend{
  padding: 10px;  
}