* {
	margin: 0;
}
html, body {
	height: 100%;
}
body#bel_canto #container {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto (-$sticky-footer-height); /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: $sticky-footer-height; /* .push must be the same height as .footer */
}