<p><%= @upload.label %></p>
<p>Access By Student Type: <br /><%= @upload.access.join(', ') %></p>
<p>Access By Individual Student: <br /><%= @upload.users.map(&:full_name).join(', ') %></p>

<%= render 'navigation' %>